@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="SimpleCardMaker">
    <div ng-view></div>
</div>

<script type="text/javascript" src="js/html2canvas.min.js"></script>
<script type="text/javascript">
    function downloadimage() {
        var container = document.getElementById("htmltoimage"); // full page
        // that unfortunately WON'T load card image
        html2canvas(container, { allowTaint: false, scale: 5 }).then(function (canvas) {
            var link = document.createElement("a");
            document.body.appendChild(link);
            //for generating file name
            var cardName = document.getElementById("card-name").textContent;
            link.download = cardName.toLowerCase().replace(/\s/g, '') + "_card.jpg";
            link.href = canvas.toDataURL('image/jpeg', 1.0);
            link.target = '_blank';
            link.click();
 
        });
    }
   
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript" src="~/js/app/app.module.js"></script>
<script type="text/javascript" src="~/js/app/app.routes.js"></script>
<script type="text/javascript" src="~/js/app/home.controller.js"></script>
<script type="text/javascript" src="~/js/app/cards.controller.js"></script>
<script type="text/javascript" src="~/js/app/keywords.controller.js"></script>
<script type="text/javascript" src="~/js/app/unittypes.controller.js"></script>
