<form name="keywordform" class="row" novalidate>
    <div class="form-group col-12">
        <label for="Name">Keyword Name</label>
        <input type="text" ng-model="keyword.name" name="name" id="Name" class="form-control" placeholder="Keyword name" required />
        <div ng-show="keywordform.$submitted || keywordform.name.$touched">
            <span ng-show="keywordform.name.$error.required" class="text-danger">Please fill the field</span>
        </div>
    </div>
    <div class="form-group col-12">
        <label for="Description">Keyword description</label>
        <textarea ng-model="keyword.description" rows="3" name="description" id="Description" placeholder="Card description" class="form-control"></textarea>
       
    </div>
   
    <div class="form-group col-12">
        <input type="submit" value="Create" class="btn btn-primary" ng-click="SaveKeyword()" />
    </div>
</form>