<div class="container d-flex justify-content-between align-items-center">
    <div class="row mb-3">
        <div class="form-inline">
            <select class="form-control mr-3" ng-options="keyword as keyword.name for keyword in keywords"
                    ng-model="selectedKeyword" ng-change="GetCards()">
                <option selected value="">All Keywords</option>
            </select>

            <select class="form-control" ng-options="unittype as unittype.name for unittype in unittypes"
                    ng-model="selectedUnitType" ng-change="GetCards()">
                <option selected value="">All Unit Types</option>
            </select>
        </div>
    </div>
    <a href="#!/cards/add" class="btn btn-dark">Add card</a>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="d-flex flex-wrap ">
       
                    <div class="card" ng-repeat="card in cards">
                        <div class="card-img" style="background-image:url({{ card.imageFileName }})">
                        </div>
                        <div class="card-info">
                            <div class="card-bg">
                                <div class="card-mana">{{card.manaCost}}</div>
                                <div class="card-text">

                                    <div class='card-unittype'>{{ card.unitType.name }}</div>

                                    <h4>{{card.name}}</h4>
                                    <div class="card-keyword">{{ card.keyword.name }}</div>
                                    <p>{{card.description}}</p>
                                    <a href="#!/cards/{{card.id}}" class="card-link"></a>
                                </div>
                                <div class="card-stats">
                                    <div class="card-attack">{{card.attack}}</div>
                                    <div class="card-defence">{{card.defence}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>