<div class="container mb-3">

    <h1>Card Gallery</h1>
    <div class="d-flex justify-content-between align-items-center">


        <div>
            Total {{cards.length}} card{{cards.length == 1 ? "" : "s"}}. </div>
        <div class="d-flex align-content-center align-items-center">
            <div class="mr-3">
               Show only cards with 
            </div>
            <div class="form-inline">
                <select class="form-control" ng-options="keyword as keyword.name for keyword in keywords"
                        ng-model="selectedKeyword" ng-change="GetCards()">
                    <option selected value="">All Keywords</option>
                </select>
                <div class="mx-3">and</div>
                <select class="form-control" ng-options="unittype as unittype.name for unittype in unittypes"
                        ng-model="selectedUnitType" ng-change="GetCards()">
                    <option selected value="">All Unit Types</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="container">
            <div class="card-gallery">
                    <div class="card" ng-repeat="card in cards">
                        <div class="card-img" style="background-image:url({{ card.imageFileLink }})"></div>
                        <div class="card-info">
                            <div class="card-bg">
                                <div class="card-mana">{{card.manaCost}}</div>
                                <div class="card-text">

                                    <div class='card-unittype' ng-hide="{{ card.unitType == null ? true : false }}">{{ card.unitType.name }}</div>

                                    <h4>{{card.name}}</h4>
                                    <div class="card-keyword" ng-hide="{{ card.keyword == null ? true : false }}"><i class="{{ card.keyword.icon }} pr-1"></i>{{ card.keyword.name }}</div>
                                    <p>{{card.description}}</p>
                                    <a href="#!/cards/{{card.id}}" class="card-link"></a>
                                </div>
                                <div class="card-stats">
                                    <div class="card-attack">{{card.attack}}</div>
                                    <div class="card-defence">{{card.defence}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>


