<div class="container d-flex justify-content-between align-items-center">
    <div class="row mb-3">
        <div class="form-inline">
            <select class="form-control mr-3" ng-options="keyword as keyword.name for keyword in keywords"
                    ng-model="selectedKeyword" ng-change="GetCards()">
                <option selected value="">All Keywords</option>
            </select>

            <select class="form-control" ng-options="unittype as unittype.name for unittype in unittypes"
                    ng-model="selectedUnitType" ng-change="GetCards()">
                <option selected value="">All Unit Types</option>
            </select>
        </div>
    </div>
    <a href="#!/cards/add" class="btn btn-dark">Add card</a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Desription</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Mana</th>
            <th>Image</th>
            <th>Keyword</th>
            <th>Unit Type</th>
            <th>Do stuff</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="card in cards">
            <td>{{card.id}}</td>
            <td>{{card.name}}</td>
            <td>{{card.description != "" ? card.description : "-"}}</td>
            <td>{{card.attack}}</td>
            <td>{{card.defence}}</td>
            <td>{{card.manaCost}}</td>
            <td><img src="{{ card.imageFileName }}" alt="Alternate Text" class="img-fluid" style="max-width:200px" /></td>
            <td>{{card.keywordId ? card.keywordId : "-"}}</td>
            <td>{{card.unitTypeId ? card.unitTypeId : "-"}}</td>
            <td>
                <a href="#!/cards/edit/{{card.id}}" class="btn btn-warning"><i class="fa fa-pen"></i></a>
                <a href="#" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>

            </td>
</tr>
        
    </tbody>
</table>